@font-face {
  font-family: 'Alice';
  src: url('./fonts/Alice-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('./fonts/Amiri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('./fonts/Amiri-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('./fonts/Amiri-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Amiri';
  src: url('./fonts/Amiri-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Faagathi Dheli';
  src: url('./fonts/FaagathiDheli-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Faagathi Dheli';
  src: url('./fonts/FaagathiDheli-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Faruma';
  src: url('./fonts/Faruma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KD Akuru';
  src: url('./fonts/KD Akuru.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lateef';
  src: url('./fonts/Lateef-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lateef';
  src: url('./fonts/Lateef-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lateef';
  src: url('./fonts/Lateef-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lateef';
  src: url('./fonts/Lateef-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lateef';
  src: url('./fonts/Lateef-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lateef';
  src: url('./fonts/Lateef-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lateef';
  src: url('./fonts/Lateef-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('./fonts/Oxygen-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('./fonts/Oxygen-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('./fonts/Oxygen-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Reem Kufi';
  src: url('./fonts/ReemKufi-VariableFont_wght.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rufina';
  src: url('./fonts/Rufina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rufina';
  src: url('./fonts/Rufina-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ruwudu';
  src: url('./fonts/Ruwudu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ruwudu';
  src: url('./fonts/Ruwudu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ruwudu';
  src: url('./fonts/Ruwudu-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ruwudu';
  src: url('./fonts/Ruwudu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Scheherazade New';
  src: url('./fonts/ScheherazadeNew-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scheherazade New';
  src: url('./fonts/ScheherazadeNew-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Scheherazade New';
  src: url('./fonts/ScheherazadeNew-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Scheherazade New';
  src: url('./fonts/ScheherazadeNew-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
